.card {
  display: flex;
  width: 180px;
  height: 240px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  padding: 10px;
  box-sizing: border-box;
}

.default-color{
  color: black;
}

.secondary-color{
  color: red;
}

.card-corner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top-left {
  align-self: flex-start;
}

.bottom-right {
  align-self: flex-end;
  transform: rotate(180deg);
}

.card-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-space-between {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.card-value {
  font-size: 15px;
  font-weight: bold;
}

.card-suit {
  font-size: 15px;
}

.card-suit-md {
  font-size: 45px;
}

.card-suit-lg {
  font-size: 50px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.flex-row {
  flex-direction: row;
}

.flex-grow-1 {
  flex-grow: 1;
}